@model User
@{
    ViewData["Title"] = "Кабінет";
    var role = ViewContext.HttpContext.Session.GetInt32("UserRole");
    bool isSelfAccount = Model.Id.ToString() == ViewContext.HttpContext.Session.GetString("UserId");
    bool isAdmin = role == 1 || role == 2;
}
<div class="wrapper" style="margin: 50px">
    <p>@Model.Name @Model.SurName</p>
    @if (isAdmin && isSelfAccount)
    {
        <a asp-controller="Admin" asp-action="Panel">Панель керування</a>
    }
    @if (isSelfAccount)
    {
        <a asp-controller="User" asp-action="Logout">Вийти</a>
    }
    @if (isSelfAccount)
    {
        <div id="favList" class="carList"></div>
    }
</div>
<script src="~/js/profilePage.js" asp-append-version="true"></script>