@using car_website.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Увійти";
}
<div class="login-wrapper">
    <form method="post" asp-action="Login" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Email">Ел. пошта</label>
            <input autocomplete="email" asp-for="Email" type="text" class="form-control" placeholder="example@example.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input autocomplete="current-password" asp-for="Password" type="password" class="form-control" placeholder="Пароль" id="pass">
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="showpass">
                <span>Показати пароль? </span>
                <input type="checkbox" id="pass_show"/>
            </div>
            <a asp-controller="User" asp-action="ResetPassword">Забули пароль?</a>
        </div>
        <button type="submit" class="sell-button">Увійти</button>
    <div class="log-reg-change"><p>Немає аккаунту? <a asp-controller="User" asp-action="Register">Зареєструватись</a></p></div>
    </form>
</div>
<script src="~/js/loginPage.js" asp-append-version="true"></script>