@using car_website.ViewModels
@model LoginViewModel
<div class="register-wrapper">
    <form method="post" asp-action="Login" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Email">Ел. пошта</label>
            <input asp-for="Email" type="text" class="form-control" placeholder="example@example.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Пароль" id="pass">
            <input type="checkbox" id="pass_show"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="sell-button">Увійти</button>
    </form>
    <span>Немає аккаунту? <a asp-controller="User" asp-action="Register">Зареєструватись</a></span>
</div>
<script src="~/js/loginPage.js" asp-append-version="true"></script>