@using car_website.ViewModels;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Зміна пароля";
    ViewBag.Index = "False";
}
<div class="login-wrapper">
    <form method="post" asp-action="ResetPassword" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Email">Ваша адреса електронної пошти</label>
            <input asp-for="Email" type="text" class="form-control" placeholder="example@example.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="sell-button">Відновити</button>
    </form>
</div>