@{
    ViewData["Title"] = "Зміна пароля";
}
<div class="info-text">
    <h2>На вказану адресу електронної пошти були відправлені інструкції зі зміни пароля.</h2>
    <a asp-controller="Home" asp-action="Index">На головну</a>
    <a asp-controller="User" asp-action="Login">Увійти</a>
</div>