# Ignore all JSON files
*.json

# Ignore all files in the specified folder
/car_website/car_website/bin/*
#vs folder
/car_website/.vs/*
#obj folder
/car_website/car_website/obj/*
*.dll
*.min.css
publish.zip