@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Панель керування";
}
<div class="admin">
    <div class="admin_left">
        <div class="admin_left-buttons">
            <div class="radio">
                <input type="radio" id="buyRequests"
                       name="action" value="buyRequests" checked>
                <label for="buyRequests" id="buyRequests-label">Запити на покупку</label>
            </div>
            <div class="radio">
                <input type="radio" id="waitingCars"
                       name="action" value="waitingCars">
                <label for="waitingCars" id="waitingCars-label">Авто на перевірку</label>
            </div>
            <div class="radio">
                <input type="radio" id="users"
                       name="action" value="users">
                <label for="users" id="users-label">Користувачі</label>
            </div>
            <div class="radio">
                <input type="radio" id="brands"
                       name="action" value="brands">
                <label for="brands" id="brands-label">Марки і моделі</label>
            </div>
            <div class="radio">
                <input type="radio" id="expressSales"
                       name="action" value="expressSales">
                <label for="expressSales" id="expressSaless-label">Швидкий викуп</label>
            </div>
            <div class="radio">
                <input type="radio" id="currencyRate"
                       name="action" value="currencyRate">
                <label for="currencyRate" id="currencyRate-label">Задати курс</label>
            </div>
            <div class="radio">
                @if (ViewContext.HttpContext.Session.GetInt32("Role") == 2)
                {
                    <a asp-controller="Admin" asp-action="AdminAction">AdminAction</a>
                }
            </div>
        </div>
    </div>
    <div class="admin_right" >
        <div class="wrapper">
            <div id="container" class="carList"></div>
        </div>
    </div>
</div>
<script src="~/js/adminPanelPage.js" asp-append-version="true"></script>