@{
    ViewData["Title"] = "Панель керування";
}
<div style="margin: 50px; display: block">
<a asp-controller="Admin" asp-action="BuyRequests">Запити на покупку</a>
<a asp-controller="Admin" asp-action="WaitingCars">Авто на перевірку</a>
</div>