@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Панель керування";
    ViewBag.Index = "False";
}
<button id="open-admin-left">
    <span>
        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_289_309)">
                <path d="M2 3.50006H22" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                <path d="M2 11.5001H7.5" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                <path d="M2 19.5001H7.5" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                <path d="M15.75 17.0001C18.0972 17.0001 20 15.0973 20 12.7501C20 10.4029 18.0972 8.50006 15.75 8.50006C13.4028 8.50006 11.5 10.4029 11.5 12.7501C11.5 15.0973 13.4028 17.0001 15.75 17.0001Z" stroke="#fff" stroke-width="2" />
                <path d="M18.5 16.0001L22 19.5253" stroke="#fff" stroke-width="2" stroke-linecap="round" />
            </g>
            <defs>
                <clipPath id="clip0_289_309">
                    <rect width="24" height="24" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </span>
</button>
<div class="admin">
    <div class="admin_left">
        <div class="admin_left-buttons">
            <div class="radio">
                <input type="radio" id="buyRequests"
                       name="action" value="buyRequests" checked>
                <label for="buyRequests" id="buyRequests-label">Запити на покупку</label>
            </div>
            <div class="radio">
                <input type="radio" id="botCars"
                       name="action" value="botCars">
                <label for="botCars" id="botCars-label">Авто з Telegram бота</label>
            </div>
            @*<div class="radio">
                <a asp-controller="Car" asp-action="OrderCar">Додати замовлення</a>
            </div>*@
            <div class="radio">
                <input type="radio" id="waitingCars"
                       name="action" value="waitingCars">
                <label for="waitingCars" id="waitingCars-label">Авто на перевірку</label>
            </div>
            <div class="radio">
                <input type="radio" id="users"
                       name="action" value="users">
                <label for="users" id="users-label">Користувачі</label>
            </div>
            <div class="radio">
                <input type="radio" id="brands"
                       name="action" value="brands">
                <label for="brands" id="brands-label">Марки і моделі</label>
            </div>
            <div class="radio">
                <input type="radio" id="expressSales"
                       name="action" value="expressSales">
                <label for="expressSales" id="expressSaless-label">Швидкий викуп</label>
            </div>
            <div class="radio">
                <input type="radio" id="currencyRate"
                       name="action" value="currencyRate">
                <label for="currencyRate" id="currencyRate-label">Задати курс</label>
            </div>
            <div class="radio">
                <a asp-controller="Admin" asp-action="Api">API</a>
            </div>
            <div class="radio">
                <input type="radio" id="dev"
                       name="action" value="dev">
                <label for="dev" id="dev-label">Dev</label>
            </div>
        </div>
    </div>
    <div class="admin_right" >
        <div class="wrapper" style="min-width: 100%; margin: 0">
            <div class="wrapper-content" style="width: 100%">
            <div class="pages_buttons"></div>
                <div id="container" class="carList" style="width: 100%"></div>
            <div class="pages_buttons"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/adminPanelPage.js" asp-append-version="true"></script>