@{
    ViewData["Title"] = "Автопібдір";
}
<div class="info_block">
    <div class="info_block-content">
        @*<h1>Пригон авто з Кореї, Європи та США</h1>
        <p>Мрієте про конкретну модель автомобіля, якої немає в Україні? Ми готові допомогти! Наша команда спеціалізується на пригоні автомобілів з Кореї, Європи та США:</p>
        <ol>
            <li><strong>Індивідуальний підхід:</strong> Розкажіть нам про модель та комплектацію автомобіля, який ви шукаєте, і ми знайдемо найкращий варіант для вас.</li>
            <li><strong>Повний сервіс:</strong>  Ми займаємося всіма етапами пригону — від вибору автомобіля до оформлення всіх необхідних документів.</li>
            <li><strong>Гарантія якості:</strong> Кожен автомобіль проходить детальну перевірку перед покупкою, гарантуючи вам високу якість та надійність.</li>
        </ol>*@
        <h1>
            Послуги з автопідбору
        </h1>

        <p>
            <strong>
            «Ваш ідеальний автомобіль - наша місія. Від вибору до ключів!»
            </strong>
        </p>

        <p>
            Надаємо інформаційно-консультаційні послуги з автопідбору, офіційно, на підставі договору, а саме:
        </p>

        <ul>
            <li>
                Підбір авто за Вашими параметрами
            </li>
            <li>
                Первинний огляд автомобіля та оцінка його технічного стану
            </li>
            <li>
                Консультаційна допомога в переоформленні автомобіля
            </li>
            <li>
                Умови оплати: 50% в день укладання договору, решта 50% після узгодження авто з замовником (безготівкова оплата на поточний рахунок ФОП)
            </li>
            <li>
                Пошук необмеженої кількості авто, до моменту знаходження відповідного
            </li>
        </ul>

        @*<p>
            Послуги з пригону авто з США, ЕС, Кореї (через наших партнерів)
        </p>*@

        
        <div class="cards">
            <div class="cards-card"><img src="~/img/USA.png" /><p>Авто з США</p></div>
            <div class="cards-card"><img src="~/img/Europe.png" /><p>Авто з Європи</p></div>
            <div class="cards-card"><img src="~/img/Korea.png" /><p>Авто з Кореї</p></div>
        </div>
        <p style="text-align: center">
            <strong>
                «За океаном знайдено, з любов’ю доставлено - ваше авто з США, ЕС, Кореї»
            </strong>
        </p>
    </div>
</div>