@model CarCreationPageViewModel
@using car_website.Data.Enum
@using car_website.ViewModels;

<div class="create-wrapper">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="CreateCarViewModel.Photo1">Фото</label>
            <input asp-for="CreateCarViewModel.Photo1" type="file" class="form-control" placeholder="Select an image">
            <span asp-validation-for="CreateCarViewModel.Photo1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateCarViewModel.Brand">Brand</label>
            <select asp-for="CreateCarViewModel.Brand" id="brand-select">
                <option value="Any">--Оберіть--</option>
                @foreach (var str in Model.CarBrands)
                {
                    <option value=@str>@str</option>
                }
            </select>
            <span asp-validation-for="CreateCarViewModel.Brand" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateCarViewModel.Model">Модель</label>
            <select asp-for="CreateCarViewModel.Model" id="model-select">
                <option value="Any">--Оберіть--</option>
            </select>
            <span asp-validation-for="CreateCarViewModel.Model" class="text-danger"></span>
        </div>
        <div id="other-brand">
            <div class="form-group">
                <label asp-for="CreateCarViewModel.OtherBrandName">Ваша марка</label>
                <input asp-for="CreateCarViewModel.OtherBrandName"/>
                <span asp-validation-for="CreateCarViewModel.OtherBrandName" class="text-danger"></span>
            </div>
        </div>
        <div id="other-model">
            <div class="form-group">
                <label asp-for="CreateCarViewModel.OtherModelName">Ваша марка</label>
                <input asp-for="CreateCarViewModel.OtherModelName"/>
                <span asp-validation-for="CreateCarViewModel.OtherModelName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.CarTransmission">Трансмісія</label>
		    <select asp-for="CreateCarViewModel.CarTransmission" class="form-select">
		    	<option value="0">--Оберіть--</option>
                <option value="1">Механіка</option>
                <option value="2">Автоматична</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.CarTransmission" class="text-danger"></span>
	    </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.Body">Тип кузову</label>
		    <select asp-for="CreateCarViewModel.Body" class="form-select">
		    	<option value="0">--Оберіть--</option>
                <option value="1">Седан</option>
                <option value="2">Позашляховик</option>
                <option value="3">Мінівен</option>
                <option value="4">Хетчбек</option>
                <option value="5">Універсал</option>
                <option value="6">Купе</option>
                <option value="7">Кабріолет</option>
                <option value="8">Пікап</option>
                <option value="9">Ліфтбек</option>
                <option value="10">Фастбек</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.Body" class="text-danger"></span>
	    </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.Fuel">Тип палива</label>
		    <select asp-for="CreateCarViewModel.Fuel" class="form-select">
		    	<option value="0">--Оберіть--</option>
                <option value="3">Бензин</option>
                <option value="4">Дизель</option>
                <option value="1">Газ</option>
                <option value="2">Газ/бензин</option>
                <option value="5">Гібрид</option>
                <option value="6">Електро</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.Fuel" class="text-danger"></span>
	    </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.Driveline">Тип приводу</label>
		    <select asp-for="CreateCarViewModel.Driveline" class="form-select">
		    	<option value="0">--Оберіть--</option>
                <option value="1">Передній</option>
                <option value="2">Задній</option>
                <option value="3">Повний</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.Driveline" class="text-danger"></span>
	    </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.CarColor">Колір</label>
		    <select asp-for="CreateCarViewModel.CarColor" class="form-select">
		    	<option value="0">--Оберіть--</option>
                <option value="1">Передній</option>
                <option value="2">Задній</option>
                <option value="3">Повний</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.CarColor" class="text-danger"></span>
	    </div>


        <div id="other-model">
            <div class="form-group">
                <label asp-for="CreateCarViewModel.Description">Додатковий опис</label>
                <textarea id="description" asp-for="CreateCarViewModel.Description" maxlength="200" style="resize: none;"></textarea>
                <span id="descriptionLength">0/200</span>
                <span asp-validation-for="CreateCarViewModel.Description" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="sell-button">Опублікувати оголошення</button>
    </form>
</div>
<script src="~/js/creationCarPage.js" asp-append-version="true"></script>