@model CarCreationPageViewModel
@using car_website.Data.Enum
@using car_website.ViewModels;

<div class="create-wrapper">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="CreateCarViewModel.Photo1">Фото</label>
            <input asp-for="CreateCarViewModel.Photo1" type="file" class="form-control" placeholder="Select an image">
            <span asp-validation-for="CreateCarViewModel.Photo1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateCarViewModel.Brand">Brand</label>
            <select asp-for="CreateCarViewModel.Brand" id="brand-select">
                <option value="Any">Не обрано</option>
                @foreach (var str in Model.CarBrands)
                {
                    <option value=@str>@str</option>
                }
            </select>
            <span asp-validation-for="CreateCarViewModel.Brand" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateCarViewModel.Model">Модель</label>
            <select asp-for="CreateCarViewModel.Model" id="model-select">
                <option value="Any">Не обрано</option>
            </select>
            <span asp-validation-for="CreateCarViewModel.Model" class="text-danger"></span>
        </div>
        <div id="other-brand">
            <div class="form-group">
                <label asp-for="CreateCarViewModel.OtherBrandName">Ваша марка</label>
                <input asp-for="CreateCarViewModel.OtherBrandName"/>
                <span asp-validation-for="CreateCarViewModel.OtherBrandName" class="text-danger"></span>
            </div>
        </div>
        <div id="other-model">
            <div class="form-group">
                <label asp-for="CreateCarViewModel.OtherModelName">Ваша марка</label>
                <input asp-for="CreateCarViewModel.OtherModelName"/>
                <span asp-validation-for="CreateCarViewModel.OtherModelName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.CarTransmission">Трансмісія</label>
		    <select asp-for="CreateCarViewModel.CarTransmission" class="form-select" asp-items="@Html.GetEnumSelectList<Transmission>()">
		    	<option>--Оберіть--</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.CarTransmission" class="text-danger"></span>
	    </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.Body">Тип кузову</label>
		    <select asp-for="CreateCarViewModel.Body" class="form-select" asp-items="@Html.GetEnumSelectList<TypeBody>()">
		    	<option>--Оберіть--</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.Body" class="text-danger"></span>
	    </div>
        <div class="form-group">
		    <label asp-for="CreateCarViewModel.Fuel">Тип палива</label>
		    <select asp-for="CreateCarViewModel.Fuel" class="form-select" asp-items="@Html.GetEnumSelectList<TypeFuel>()">
		    	<option>--Оберіть--</option>
		    </select>
		    <span asp-validation-for="CreateCarViewModel.Fuel" class="text-danger"></span>
	    </div>
        <button type="submit" class="sell-button">Опублікувати оголошення</button>
    </form>
</div>
<script src="~/js/creationCarPage.js" asp-append-version="true"></script>