@using car_website.ViewModels;
@model CarEditingViewModel
@{
    ViewData["Title"] = $"{Model.OldData.Brand} {Model.OldData.Model} - редагувати";
}
<div class="create">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <p>Завантажте нові фото, щоб оновити існуюче</p>
        @for (int i = 0; i < Model.OldData.PhotosURL.Length; i++)
        {
            <div class="img-upload">
                <div class="img-upload-content">
                    <div class="custom-file-uploader">
                        <img src="@Model.OldData.PhotosURL[i]" old alt="preview" id="@($"Photo{i}")-old" />
                        <input asp-for=@Model.Photos[i] id="@($"Photo{i}")" type="file" accept="image/*" class="photoInp">
                        <div class="custom-file-uploader-btn">+</div>
                        <img src="" alt="preview" id="@($"Photo{i}")-preview" />
                    </div>
                </div>
                <span asp-validation-for=@Model.Photos[i] class="text-danger"></span>
            </div>
        }
    </form>
</div>
<script src="~/js/imagesPreviews.js" asp-append-version="true"></script>