@{
    ViewData["Title"] = "Пригон авто";
}
<div class="info_block">
    <div class="info_block-content">
        <h1>Пригон авто з Кореї, Європи та США</h1>
        <p>Мрієте про конкретну модель автомобіля, якої немає в Україні? Ми готові допомогти! Наша команда спеціалізується на пригоні автомобілів з Кореї, Європи та США:</p>
        <ol>
            <li><strong>Індивідуальний підхід:</strong> Розкажіть нам про модель та комплектацію автомобіля, який ви шукаєте, і ми знайдемо найкращий варіант для вас.</li>
            <li><strong>Повний сервіс:</strong>  Ми займаємося всіма етапами пригону — від вибору автомобіля до оформлення всіх необхідних документів.</li>
            <li><strong>Гарантія якості:</strong> Кожен автомобіль проходить детальну перевірку перед покупкою, гарантуючи вам високу якість та надійність.</li>
        </ol>
    </div>
</div>