@{
    ViewData["Title"] = "Авто в лізинг";
    ViewBag.Index = "False";
}
<div class="info_block">
    <div class="info_block-content" style="width: 100%;">
        <h1>Сторінка ще не готова</h1>
       @* <h1>Лізинг автомобілів: оберіть свій шлях до нового авто! </h1>
        <p>
            <strong>Чому лізинг — ваш найкращий вибір?</strong>
            Лізинг автомобілів стає все популярнішим рішенням для тих, хто мріє про новий автомобіль, але не готовий або не бажає купувати його за повну вартість відразу. Ось декілька причин, чому лізинг — це саме те, що вам потрібно:
        </p>
        <ul>
            <li><strong>Гнучкість у виборі:</strong> Ви можете обрати автомобіль своєї мрії та користуватися ним протягом всього терміну лізингу, а потім вирішити — повернути, продовжити договір або викупити авто.</li>
            <li><strong>Без великих початкових вкладень:</strong> Вам не потрібно платити повну вартість автомобіля відразу. Початковий внесок часто набагато менший, ніж при купівлі авто в кредит.</li>
            <li><strong>Прозорі умови:</strong> Ми співпрацюємо лише з перевіреними компаніями-партнерами, надаючи вам чесні та вигідні умови лізингу.</li>
            <li><strong>Можливість оновлення:</strong> По закінченню терміну лізингу ви можете обрати нову модель автомобіля, завжди залишаючись на хвилі автомобільних новинок.</li>
        </ul>
        <p>
            <strong>Оберіть свого партнера з лізингу!</strong>
            Ми співпрацюємо з кращими компаніями у сфері лізингу, щоб надати вам максимально вигідні та прозорі умови. Перед вами короткий огляд наших партнерів
        </p>
        <p>
            <strong>Як просто розпочати шлях до свого нового авто:</strong>
        </p>
        <ol>
            <li><strong>Вибір автомобіля та компанії:</strong> Вивчіть пропозиції на нашому сайті та визначтеся з моделлю та умовами лізингу.</li>
            <li><strong>Заявка:</strong> Залиште заявку прямо на сайті, і наші менеджери зв'яжуться з вами найближчим часом.</li>
            <li><strong>Схвалення:</strong> Отримайте швидке схвалення та вирішіть всі питання за документами.</li>
            <li><strong>Отримання автомобіля:</strong> Заберіть свій новий автомобіль та насолоджуйтеся комфортними поїздками!</li>
        </ol>
        <p><strong>Часто задавані питання (FAQ):</strong>Ми розуміємо, що у вас можуть виникнути питання. Ось відповіді на найпопулярніші з них:</p>
        <div class="faq">
            <div class="faq_question">
                <div class="faq_question-btn">
                    <span>Чи можу я взяти автомобіль в лізинг, якщо у мене проблемна кредитна історія?</span>
                    <i></i>
                </div>
                <div class="faq_question-content-wrapper">
                    <div class="faq_question-content">
                        <span>
                            Так, ми розуміємо, що життєві обставини можуть впливати на кредитну історію. Наші партнери надають можливість отримати лізинг навіть тим, у кого є проблеми з кредитною історією. Ми завжди готові розглянути вашу заявку та знайти оптимальне рішення.
                        </span>
                    </div>
                </div>
            </div>

            <div class="faq_question">
                <div class="faq_question-btn">
                    <span>Як швидко я можу отримати відповідь на свою заявку?</span>
                    <i></i>
                </div>
                <div class="faq_question-content-wrapper">
                    <div class="faq_question-content">
                        <span>
                            Наша команда працює максимально оперативно. Зазвичай ми надаємо відповідь протягом 1 години після подачі заявки.
                        </span>
                    </div>
                </div>
            </div>

            <div class="faq_question">
                <div class="faq_question-btn">
                    <span>Який потрібно здійснювати початковий внесок при оформленні лізингу?</span>
                    <i></i>
                </div>
                <div class="faq_question-content-wrapper">
                    <div class="faq_question-content">
                        <span>
                            Так, зазвичай потрібно здійснити початковий внесок в розмірі 25% від вартості авто. Однак його розмір може варіюватися в залежності від обраної моделі автомобіля та умов конкретної лізингової компанії. Ми завжди готові допомогти вам знайти найбільш вигідний варіант.
                        </span>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<script src="~/js/faq.js" asp-append-version="true"></script>