@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Запити";
    ViewData["DescriptionSearch"] = "Хочете продати своє авто? Можливо, ми шукаємо саме його! Ознайомтесь із нашим списком запитів.";
    string userId = "";
    if (User != null && User.Identity != null)
        userId = ((ClaimsIdentity)User.Identity)?.Claims?.FirstOrDefault()?.Value ?? "";
    bool isAdmin = !string.IsNullOrEmpty(userId) && ViewContext.HttpContext.Session.GetInt32("Role") != 0;
}
<div class="orders">
    <h1>Шукаємо такі авто:</h1>
        <div id="orders-container" class="wrapper carList" adm=@isAdmin>

        </div>
</div>
<script src="~/js/ordersPage.js" asp-append-version="true"></script>