@{
    ViewData["Title"] = "Запити";
}
<div class="orders">
    <h1>Шукаємо такі авто:</h1>
        <div id="orders-container">

        </div>
</div>
<script src="~/js/ordersPage.js" asp-append-version="true"></script>