@using car_website.ViewModels;
@model IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <div class="filters_before">
        <p>Авто в продажі : @Model.CarsCount</p>
        <a asp-controller="Car" asp-action="Create">Продати авто</a>

        <div class="filters">
            <label>Тип кузова</label>
            <select name="bodyType_select" id="bodyType_select">
                <option value="0">Усі</option>
                <option value="1">Седан</option>
                <option value="2">Позашляховик</option>
                <option value="3">Мінівен</option>
                <option value="4">Хетчбек</option>
                <option value="5">Універсал</option>
                <option value="6">Купе</option>
                <option value="7">Кабріолет</option>
                <option value="8">Пікап</option>
                <option value="9">Ліфтбек</option>
                <option value="10">Фастбек</option>
            </select>
            <label>Марка</label>
            <select name="brand-select" id="brand-select">
                <option value="Any">Усі</option>
                @foreach (var str in Model.Brands)
                {
                    <option value=@str>@str</option>
                }
            </select>
            <label>Модель</label>
            <select name="model-select" id="model-select">
                <option value="Any">Усі</option>
            </select>
            <label>Рік</label>
            <div class="year_select">
                <select name="year_min-select" id="year_min-select">
                    <option value="0">Від</option>
                    @for (int i = DateTime.Now.Year; i >= 1900; i--)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
                <select name="year_max-select" id="year_max-select">
                    <option value="0">До</option>
                    @for (int i = DateTime.Now.Year; i >= 1900; i--)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
            </div>
            <label>Ціна ($)</label>
            <div class="price_input">
                <input type="number" maxlength="9" id="price_min-input" placeholder="Від" />
                <input type="number" maxlength="9" id="price_max-input" placeholder="До" />
            </div>
            <label>Пробіг (тис. км)</label>
            <div class="price_input">
                <input type="number" maxlength="3" id="race_min-input" placeholder="Від" />
                <input type="number" maxlength="3" id="race_max-input" placeholder="До" />
            </div>
            <label>Коробка передач</label>
            <select name="transmission-select" id="transmission-select">
                <option value="0">Будь-яка</option>
                <option value="1">Механіка</option>
                <option value="2">Автоматична</option>
            </select>
            <label>Паливо</label>
            <select name="fuel-select" id="fuel-select">
                <option value="0">Будь-яке</option>
                <option value="3">Бензин</option>
                <option value="4">Дизель</option>
                <option value="1">Газ</option>
                <option value="2">Газ/бензин</option>
                <option value="5">Гібрид</option>
                <option value="6">Електро</option>
            </select>
            <label>Тип приводу</label>
            <select name="driveline-select" id="driveline-select">
                <option value="0">Будь-який</option>
                <option value="1">Передній</option>
                <option value="2">Задній</option>
                <option value="3">Повний</option>
            </select>
            <label>Об’єм двигуна (л.)</label>
            <div class="price-input">
                <input type="number" maxlength="3" id="engineVolume_min-input" placeholder="Від" />
                <input type="number" maxlength="3" id="engineVolume_max-input" placeholder="До" />
            </div>
            <button id="refresh_cars">Пошук</button>
            <button id="clear_filters">Очистити</button>
        </div>

    </div>
    <div id="carList" class="carList"></div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/js/mainPage.js" asp-append-version="true"></script>


