@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <select name="brand-select" id="brand-select">
        <option value="Any">Усі</option>
        @foreach(var str in Model)
        {
            <option value=@str>@str</option>
        }
    </select>
    <select name="model-select" id="model-select">
        <option value="Any">Усі</option>
    </select>
    <button id="refresh_cars">Пошук</button>
    <div id="carList"></div>
</div>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
