@model IEnumerable<Car>
@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    @foreach (var car in Model)
    {
        <div class="car-container">
            <div class="car-container-image-wrap">
            <img alt="photo" src="@car.PhotosURL[0]" />
            </div>
            <div class="car-container-info">
                <a asp-controller="Car" asp-action="Detail" asp-route-id=@car.Id.ToString() class="car-container-title">@car.Brand @car.Model</a>
                <p>@car.Description</p>
            </div>
        </div>
    }
</div>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
