@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["DescriptionSearch"] = "Ласкаво просимо до 1Auto — вашого надійного партнера у світі автомобілів!";
}
<div class="info_block">
    <div class="info_block-content">
        <h2>Ласкаво просимо до <a href="/">1auto.cn.ua</a> — вашого надійного партнера у світі автомобілів!</h2>
        <p>Ми — команда професіоналів, яка працює на ринку вже багато років, надаючи нашим клієнтам можливість вибрати ідеальний автомобіль для їх потреб.</p>
        <p><strong>Чому обирають нас?</strong></p>
        <ol>
            <li><strong>Великий вибір автомобілів:</strong> Наш майданчик знаходиться в м.Чернігів, пр. Мира 192, де ви зможете особисто оглянути та вибрати автомобіль з великої кількості доступних моделей. Від економних міських авто до розкішних преміум-класу — у нас є все!</li>
            <li><strong>Професійний підхід:</strong> Ми розуміємо, наскільки важливо знайти автомобіль, який відповідає вашим потребам та бюджету. Наша команда завжди готова допомогти вам з цим.</li>
            <li><strong>Гнучкі умови лізингу:</strong> Незалежно від вашої кредитної історії, ми готові розглянути вашу заявку та запропонувати оптимальні умови лізингу.</li>
            <li>
                <strong>
                    Обмін авто:
                </strong> Маєте бажання оновити свій автомобіль? У нас є чудова пропозиція для вас! Ми пропонуємо обмін вашого поточного автомобіля на будь-яку іншу модель з нашого майданчика.
                Процес обміну максимально простий та прозорий:
                <ul>
                    <li><strong>Оцінка вашого авто:</strong> Професіонали нашої команди швидко та об'єктивно оцінять стан вашого автомобіля.</li>
                    <li><strong>Вибір нового авто:</strong> Оберіть автомобіль з нашого майданчика, який вас цікавить.</li>
                    <li><strong>Обмін:</strong> Ми врахуємо вартість вашого автомобіля при покупці нового, забезпечуючи вам вигідні умови угоди.</li>
                </ul>
            </li>
            <li><strong>Швидкий викуп автомобілів:</strong> Якщо ви шукаєте, де швидко та вигідно продати свій автомобіль, ми готові запропонувати вам найкращі умови.</li>
        </ol>
        <p><i>Ми пишаємося своєю репутацією та завжди прагнемо до взаємовигідної співпраці з нашими клієнтами. Запрошуємо вас відвідати наш майданчик та переконатися в цьому особисто!</i></p>
    </div>
</div>
