@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}
<div class="error-block">
    <h2>Помилка</h2>
    <h3>Виникла помилка під час виконання вашого запиту.</h3>
    <a asp-controller="Home" asp-action="Index">На головну</a>
</div>
