@import "Variables.scss";

.buy-request {
    display: flex;
    gap: 30px;
    color: $gray-default;

    a {
        display: block;
        color: $text-default;
        margin: 0 0 7px;
        font-size: 20px;
    }

    h3 {
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        color: $gray-default;
    }

    &_car {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 160px;
            height: 120px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}

.waiting-car {
    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    a {
        color: black;
        font-size: 26px;
    }
}

#users_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 0 0 5%;
}

.user_container-element {
    padding: 15px;
    background-color: $background-secondary;
    width: 300px;

    a {
        color: $text-default;
        font-size: 20px;
        margin: 0 0 5px;
        display: block;
    }

    p {
        color: $gray-default;
        font-size: 16px;
    }
}

.admin {
    display: flex;

    &_left {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-right: 3%;

        label {
            font-size: 20px;
            color: #969696;
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            display: block;
            transition: 0.2s;
            user-select: none;

            &::before {
                content: "";
                background-color: $green-dark;
                position: absolute;
                height: 40px;
                width: 21%;
                background-size: 26px 26px;
                margin: -9px 0 0 -25%;
                z-index: -1;
                //transition: 0.2s;
                border-radius: 0 10px 10px 0;
            }
        }

        .radio {
            width: 100%;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label {
                color: white;
                transition: 0.22s;
            }

            input[type="radio"]:checked + label::before {
                margin: -9px 0 0 -10px;
                transition: 0.3s;
            }
        }
    }

    &_right {
        padding: 10px 2%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.brands-and-models {
    display: flex;
    flex-direction: row-reverse;
    font-size: 22px;
    //color: $text-default;

    input[type="radio"] {
        display: none;
    }

    #brandsCont {
        min-width: fit-content;
        max-width: 20vw;
        display: flex;
        flex-direction: column;
        //gap: 2.5vh;
        padding: 0 1vw;
        border-left: 1px solid $gray-default;
        margin-left: 100px;
    }

    #modelsCont {
        min-width: fit-content;
        max-width: 20vw;
        display: flex;
        flex-direction: column;
        padding: 0 1vw;
        border-left: 1px solid $gray-default;
        //gap: 2.5vh;
    }

    input[type="radio"]:checked + label {
        background: $green-dark;
        color: white;
    }

    label {
        padding: 5px 10px 5px 0.7vh;
        background: none;
        transition: 0.2s;
        border-radius: 5px;
        user-select: none;
        color: $gray-default;
        cursor: pointer;
    }

    .new-model {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.7vh 0.7vh 0.7vh 0;
        border-bottom: 1px solid $gray-default;

        button {
            border-radius: 10px;
            width: 36px;
            height: 36px;
            background: $success-main;
            color: $background;
            transition: 0.2s;
            margin-left: 5px;

            span {
                display: block;
                margin-top: 3px;
            }
        }

        input {
            font-size: 22px;
            height: 36px;
            border-radius: 10px;
            padding-left: 7px;
            border: 1px solid $gray-default;
            background: $background-secondary;
            color: $text-default;
            transition: 0.2s;
            width: 100%;
            width: 310px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    button {
        border-radius: 10px;
        width: 36px;
        height: 36px;
        color: $background;
        transition: 0.2s;
        margin-left: 5px;
    }

    .brand {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $gray-default;
        padding: 0.7vh 0.7vh 0.7vh 0;

        &:last-child {
            border-bottom: none;
        }
    }

    .model {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.7vh;
        border-bottom: 1px solid $gray-default;

        input {
            margin-left: -0.7vh;
            font-size: 22px;
            height: 36px;
            border-radius: 10px;
            padding-left: 7px;
            border: 1px solid $gray-default;
            background: $background-secondary;
            color: $text-default;
            transition: 0.2s;
            //width: calc(100% - 112px);
            //width: 100%;
        }

        p {
            color: $text-default;
            transition: 0.2s;
            width: 259px;
        }

        &_buttons-submit {
            background: $success-main;
        }

        &_buttons-edit {
            background-color: #FFD700;
        }

        &_buttons-delete {
            background: $error-main;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
