@import "Variables.scss";
.title {
    font-weight: 700;
    font-size: 28px;
    border-bottom: 2px solid $gray-default;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper_carDetail-before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.wrapper_carDetail {
    width: 600px;
    color: $text-default;
}

.priceBuy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    width: 600px;


    &_buy {
        height: fit-content;
        font-size: 20px;
        padding: 7px 15px;
        border-radius: 3px;
        background-color: $green-dark;
        color: white;
    }
}

.slider {
    height: 400px;
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;



    &_element {
        height: 400px;
        width: 600px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
            max-width: 600px;
            max-height: 400px;
            z-index: 2;
            position: absolute;
        }

        &-background {
            width: 100%;
            object-fit: cover;
            filter: blur(0.5rem);
        }
    }
}
h4 {
    border-top: 2px solid $gray-default;
    margin: 20px 0 15px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
}
.car {
    &_description {
        border-top: 2px solid $gray-default;
        padding-top: 20px;
        margin: 20px 0 0;
        font-size: 16px;
    }

    &_similar {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .similarCar {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            a {
                color: $text-default;
                font-size: 16px;
                display: block;
                font-weight: 700;
            }

            img {
                width: 180px;
                height: 120px;
                object-fit: cover;
            }
        }
    }
}
.buy-request-result {
    &-info {
        transition: 0.2s;
        border: 2px solid $success-main;
        background-color: $success-secondary;
        border-radius: 10px;
        padding: 2%;

        p {
            color: $success-main;
            font-size: 16px;
            transition: 0.2s;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &-error {
        transition: 0.2s;
        border: 2px solid $error-main;
        background-color: $error-secondary;
        border-radius: 10px;
        padding: 2%;

        p {
            color: $error-main;
            font-size: 16px;
            transition: 0.2s;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}