@import "Variables.scss";

.info-text {
    color: $gray-default;
    font-size: 16px;
}

.create {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 90px); //90px = висота header + footer
    max-height: fit-content;

    .input {
        //margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        background: $background;
        color: $text-default;
        font-size: 16px;
        transition: 0.2s;
        border: 1px solid transparent;
        width: 100%;

        &:focus {
            border: 1px solid $green-medium;
        }

        &::placeholder {
            color: $gray-default;
        }
    }

    &_container {
        display: flex;
        justify-content: space-between;
    }

    form {
        margin: 50px auto 0;
        min-width: 60%;
        max-width: fit-content;
        padding: 2%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        background: $background-secondary;
        transition: 0.2s;
        //border: 1px solid $gray-default;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0, 0.25);

        span:not(.text-danger) {
            color: $gray-default;
            font-size: 16px;
        }

        textarea {
            padding: 10px;
            border-radius: 5px;
            max-height: 300px;
            background: $background;
            color: $text-default;
            font-size: 16px;
            resize: none;
            transition: 0.2s;
            border: 1px solid transparent;

            &:focus {
                border: 1px solid $green-medium;
            }

            &::-webkit-scrollbar-thumb {
                background: $gray-default;
                transition: 0.2s;
                border-radius: 25px;
            }

            &::-webkit-scrollbar {
                width: 7px;
            }
        }
    }

    p {
        margin-top: 5px;
        color: $text-default;
        font-size: 18px;
    }

    label {
        color: $text-default;
        transition: 0.2s;
        font-size: 18px;
        display: block;
        white-space: nowrap;
    }

    &_price {
        span:not(.text-danger) {
            display: block;
            margin-top: -24px;
        }

        display: flex;
        align-items: center;
        gap: 6px;
    }

    &_photos {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input[type="file"] {
            font-size: 14px;
            background: $background-secondary;
            width: 250px;
            outline: none;
            color: $text-default;
            font-weight: 400;
            transition: 0.2s;

            &::before {
                content: "Оберіть фото";
                position: absolute;
                margin: 5px 0 0 10px;
                font-size: 16px;
                font-weight: 700;
                color: white;
            }
        }
    }

    &_main {
        display: flex;
        width: 100%;
        gap: 5%;

        &-section {
            margin-top: 5px;
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            /*input[type="number"] {
                height: 32px;
                padding: 0 10px;
                font-size: 16px;
                background: $background;
                color: $gray-default;
                border-radius: 7px;
                transition: 0.2s;
                border: 1px solid transparent;

                &:focus {
                    border: 1px solid $green-medium;
                }

                &::placeholder {
                    color: $gray-default;
                }
            }*/
        }
    }

    .sell-button {
        min-width: 30%;
        max-width: fit-content;
        margin-left: auto;
        background: $green-medium;
        border-radius: 7px;
        padding: 10px;
        transition: 0.2s;
        color: white;
        font-size: 20px;

        &:hover {
            transition: 0.2s;
            background: $green-light;
        }
    }
}
.photos-select {
    display: flex;
    &-example{
        display: flex;
        align-items: center;
        padding: 6px;
        gap: 20px;
        img{
            width: 250px;
        }
    }
}
.checkbox-group{
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
}
::-webkit-file-upload-button {
    font-size: 0;
    background: $green-medium;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 7px;
    padding: 11px 0 0 0;
    transition: 0.2s;
}


@media (max-width: 767px) {
    .create {
        background: $background-secondary;

        &_container {
            flex-direction: column-reverse;
        }

        .sell-button {
            margin: 0 auto;
            min-width: 90%;
        }

        form {
            //background: $background;
            border-radius: 0;
            border: none;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            padding-top: 30px;
            max-width: 100%;
            box-shadow: none;
        }

        &_main {
            justify-content: space-between;
            flex-wrap: wrap;

            &-section {
                width: 47%;
            }
        }

        .info-text {
            display: none;
        }

        label {
            font-size: 16px;
        }
    }
}