@import "Variables.scss";

.login-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10%;
    background-color: $background;
    transition: 0.2s;

    span {
        color: $text-default;
        transition: 0.2s;
    }

    p {
        color: $text-default;
        transition: 0.2s;
    }

    form {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 40px;
        border-radius: 40px;
        border: 2px solid $gray-default;
        background-color: $background-secondary;
        transition: 0.2s;

        input[type="text"] {
            width: 100%;
            font-size: 16px;
            padding: 9px 12px;
            background-color: $background;
            border: 1px solid $gray-default;
            color: $text-default;
            border-radius: 7px;
            transition: 0.2s;
        }

        input[type="password"] {
            width: 100%;
            font-size: 16px;
            padding: 9px 12px;
            background-color: $background;
            color: $text-default;
            border: 1px solid $gray-default;
            border-radius: 7px;
            transition: 0.2s;
        }

        input::placeholder {
            color: $gray-default;
            transition: 0.2s;
        }

        input[type="checkbox"] {
            display: inline-block;
            height: 15px;
            width: 15px;
            margin-left: 4px;
        }

        label {
            display: block;
            margin: 2px 0 2px 0;
            font-size: 18px;
            transition: 0.2s;
            color: $text-default;
        }

        .showpass {
            margin: 7px 0 0 0;
            display: flex;
        }

        button {
            padding: 9px 12px;
            font-size: 16px;
            border-radius: 6px;
            background-color: $green-medium;
            color: white;
            transition: 0.2s;
            margin: 5px 0;

            &:hover {
                background-color: $green-light;
                transition: 0.2s;
            }
        }

        .log-reg-change {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        a {
            color: $text-default;
            text-decoration: underline;
        }
    }
}

.text-danger {
    display: block;
    color: $error-main;
}
