@import "Variables.scss";

.login-wrapper {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    //padding: 10%;
    background-color: $background;
    transition: 0.2s;

    span:not(.text-danger) {
        color: $text-default;
        transition: 0.2s;
    }

    p {
        color: $text-default;
        transition: 0.2s;
    }

    form {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 40px;
        border-radius: 40px;
        background-color: $background-secondary;
        transition: 0.2s;
        box-shadow: 0 0 15px rgba(0,0,0, 0.25);

        input[type="text"], input[type="password"] {
            width: 100%;
            font-size: 16px;
            padding: 9px 12px;
            background-color: $background;
            border: 1px solid $gray-default;
            color: $text-default;
            border-radius: 7px;
            transition: 0.2s;

            &:focus {
                border: 1px solid $green-medium;
            }
        }

        input::placeholder {
            color: $gray-default;
            transition: 0.2s;
        }

        input[type="checkbox"] {
            display: inline-block;
            height: 15px;
            width: 15px;
            margin-left: 4px;
        }

        label {
            display: block;
            margin: 2px 0 4px 0;
            font-size: 18px;
            transition: 0.2s;
            color: $text-default;
        }

        button {
            padding: 9px 12px;
            font-size: 16px;
            border-radius: 6px;
            background-color: $green-medium;
            color: white;
            transition: 0.2s;
            margin: 5px 0;

            &:hover {
                background-color: $green-light;
                transition: 0.2s;
            }
        }

        .form-group-pass {
            display: flex;

            input {
                border-radius: 7px 0 0 7px;
            }

            button {
                width: 39px;
                height: 39px;
                border-radius: 0 7px 7px 0;
                background: $background;
                margin: 0;
                border-top: 1px solid $gray-default;
                border-right: 1px solid $gray-default;
                border-bottom: 1px solid $gray-default;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    height: 30px;
                    display: block;
                }
            }
        }

        .log-reg-change {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        a {
            color: $text-default;
            text-decoration: underline;
        }
    }
}

.text-danger {
    display: block;
    margin-top: 4px;
    color: $error-main;
}

@media (max-width: 767px) {
    .login-wrapper {
        height: calc(100vh - 90px);

        form {
            width: 100%;
            min-height: calc(100vh - 90px);
            border-radius: 0;
            padding: 0;
            align-items: center;
            justify-content: center;

            .form-group {
                min-width: 200px;
                width: 80vw;
            }

            .sell-button {
                min-width: 200px;
                width: 80vw;
            }
        }
    }
}
