.login-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10%;
    background-color: #D0E0CA;

    form {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 40px;
        border-radius: 40px;
        border: 2px solid #D4D4D4;
        background-color: white;

        input[type="text"] {
            width: 100%;
            font-size: 16px;
            padding: 9px 12px;
            background-color: white;
            border: 2px solid #D4D4D4;
            border-radius: 6px;
        }

        input[type="password"] {
            width: 100%;
            font-size: 16px;
            padding: 9px 12px;
            background-color: white;
            border: 2px solid #D4D4D4;
            border-radius: 6px;
        }

        input::placeholder {
            color: #B3B3B3;
        }

        input[type="checkbox"] {
            display: inline-block;
            height: 15px;
            width: 15px;
            margin-left: 4px;
        }

        label {
            display: block;
            margin: 2px 0 2px 0;
            font-size: 18px;
        }

        .showpass {
            margin: 7px 0 0 0;
            display: flex;
        }

        button {
            padding: 9px 12px;
            font-size: 16px;
            border-radius: 6px;
            background-color: #56744D;
            color: white;
            transition: 0.2s;
            margin: 5px 0;

            &:hover {
                background-color: #5D864F;
                transition: 0.2s;
            }
        }

        .log-reg-change {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        a {
            color: black;
            text-decoration: underline;
        }
    }
}
.text-danger{
    color: red;
}