@import "Variables.scss";

.profile {
    &_info {
        width: 66%;
        padding: 23px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 28px;
            color: $text-default;
            transition: 0.2s;
        }

        #phone_container, #name_container {
            display: flex;
            align-items: center;
            margin: 7px 0;
            width: fit-content;
            border-radius: 9px;

            button {
                color: $gray-default;
                transition: 0.2s;
                width: 34px;
                height: 34px;
                background: $background-secondary;

                &:active {
                    transition: 0s;
                    background: $gray-default;
                    color: $background-secondary;
                    border: $background-secondary;
                }
            }

            input {
                height: 34px;
                padding: 0 0 0 7px;
                background: $background-secondary;
                color: $text-default;
                transition: 0.2s;
                font-size: 18px;
                width: 160px;

                &::placeholder {
                    color: $gray-default;
                }
            }
        }

        #new-phone {
            border-radius: 7px 0 0 7px;
            border: 1px solid $gray-default;
        }

        #new-surname {
            border-radius: 7px 0 0 7px;
            border: 1px solid $gray-default;
        }

        #change-name {
            border-radius: 7px;
            margin-left: 5px;
            border: 1px solid $gray-default;
        }

        #change-phone-number {
            border-radius: 7px;
            margin-left: 5px;
            border: 1px solid $gray-default;
        }

        #submit-phone {
            border-top: 1px solid $gray-default;
            border-bottom: 1px solid $gray-default;

            &:hover {
                background: $success-main;
                color: $text-default;
                box-shadow: 0px 0px 5px $success-main;
                border-top: 1px solid $success-main;
                border-bottom: 1px solid $success-main;
            }
        }

        #cancel-phone {
            border: 1px solid $gray-default;
            border-radius: 0 7px 7px 0;

            &:hover {
                background: $error-main;
                color: $text-default;
                box-shadow: 0px 0px 5px $error-main;
                border: 1px solid $error-main;
            }
        }

        #new-name {
            border-radius: 0 0 0 0;
            border-top: 1px solid $gray-default;
            border-bottom: 1px solid $gray-default;
            border-right: 1px solid $gray-default;
        }

        h3 {
            margin: 5px 0;
            font-size: 20px;
            color: $gray-default;
            transition: 0.2s;
        }

        a, #change-role {
            padding: 7px 0;
            border-radius: 3px;
            background-color: $green-dark;
            color: white;
            text-align: center;
            font-size: 16px;
            display: block;
            width: 160px;
            margin: 4px 0;
            transition: 0.3s;

            &:hover {
                background-color: $green-medium;
                transition: 0.2s;
            }
        }

        #change-role[cancel] {
            background: $error-main;
        }
        /*#change-role {
            padding: 7px 0;
            border-radius: 3px;
            background-color: $green-dark;
            color: white;
            text-align: center;
            font-size: 16px;
            display: block;
            width: 160px;
            margin: 4px 0;
            transition: 0.3s;

            &:hover {
                background-color: $green-medium;
                transition: 0.2s;
            }

            &[cancel] {
                background: $error-main;
            }
        }*/
    }

    &_pages {
        width: 66%;
        margin: 15px auto;
        .label_span-mobile{
            display: none;
        }
        &_buttons {
            display: flex;
            justify-content: space-around;
        }

        label {
            font-size: 20px;
            color: #969696;
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            display: block;
            text-align: center;
            transition: 0.22s;
            user-select: none;
            /*&:hover {
                padding: 7px 0 13px;
                transition: 0.22s;
            }*/
        }

        .radio {
            width: 100%;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label {
                color: $beige-default;
                transition: 0.22s;
            }
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.line-separator {
    background-color: #969696;
    width: 100%;
    height: 2px;

    #line {
        height: 3px;
        border-radius: 0 0 4px 4px;
        background-color: $beige-default;
        width: 30%;
        position: absolute;
        transition: transform 0.22s ease;
    }
}

.profile_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 769px) and (max-width: 1400px) {
    .profile {
        &_info {
            padding-top: 25px;
        }

        &_pages {
            label {
                font-size: 18px;

                span::before {
                    display: none;
                }
            }
        }
    }
    .label_counter {
        display: none;
    }
}

@media (max-width: 768px) {
    .profile {
        &_info {
            width: 100%;
            flex-direction: column;
            padding-left: 10px;
        }

        &_pages {
            width: 100%;

            label {
                font-size: 16px;

                span::before {
                    display: none;
                }
            }
            .label_span{
                display: none;
            }
            .label_span-mobile {
                display: inline;
            }
        }
    }
    .label_counter {
        display: inline;
    }
}
.span_svg {
    position: relative;

    svg {
        position: absolute;
        top: 0;
        right: 5px;
    }
}
@media (max-width: 385px) {
    .label_counter {
        display: none;
    }
    }