.profile {
    &_info {
        width: 90%;
        margin: 25px auto;

        h2 {
            font-size: 28px;
        }

        h3 {
            margin: 5px 0;
            font-size: 20px;
            color: #5b5b5b;
        }

        a {
            padding: 7px 0;
            border-radius: 3px;
            background-color: #415939;
            color: white;
            text-align: center;
            font-size: 16px;
            display: block;
            width: 160px;
            margin: 4px 0;
            transition: 0.3s;

            &:hover {
                background-color: #4b6742;
                transition: 0.2s;
            }
        }
    }

    &_pages {
        width: 90%;
        margin: 15px auto;

        &_buttons {
            display: flex;
            justify-content: space-around;
        }

        label {
            font-size: 20px;
            color: #969696;
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            display: block;
            text-align: center;
            transition: 0.22s;
            user-select: none;
            /*&:hover {
                padding: 7px 0 13px;
                transition: 0.22s;
            }*/
        }

        .radio {
            width: 100%;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label {
                color: #595959;
                transition: 0.22s;
            }
        }
    }
}

.line-separator {
    background-color: #969696;
    width: 100%;
    height: 2px;

    #line {
        height: 3px;
        border-radius: 0 0 4px 4px;
        background-color: #595959;
        width: 30%;
        position: absolute;
        transition: transform 0.22s ease;
    }
}
#for-sell:checked + label span::before {
    background-image: url('../img/car.svg');
}
#for-sell-label {
    span::before {
        content: "";
        background: url('../img/car-inactive.svg');
        position: absolute;
        height: 26px;
        width: 26px;
        background-size: 26px 26px;
        margin: -4px 0 0 -35px;
    }
}

#waiting:checked + label span::before {
    background-image: url('../img/time.svg');
}

#waiting-label {
    span::before {
        content: "";
        background: url('../img/time-inactive.svg');
        position: absolute;
        height: 26px;
        width: 26px;
        background-size: 26px 26px;
        margin: -4px 0 0 -34px;
    }
}
#favorite:checked + label span::before {
    background-image: url('../img/heart-gray.svg');
}
#favorite-label {
    span::before {
        content: "";
        background: url('../img/heart-inactive.svg');
        position: absolute;
        height: 26px;
        width: 26px;
        background-size: 26px 26px;
        margin: -4px 0 0 -32px;
    }
}
.profile_content{
    width: 100%;
    display: flex;
    justify-content: center;
}