@import "nullstyle.scss";
@import "LoginAndRegister.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 50px;
    //width: 50%;
    display: flex;

    .filters {
        background-color: #F3EFCA;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 300px;
        padding: 5px 17px;
        margin: 0 60px 0 100px;

        select {
            max-width: 200px;
            border-radius: 8px;
            padding: 5px;
            color: gray;
        }

        select option:hover {
            background-color: #415939;
        }

        input {
            max-width: 80px;
            border-radius: 8px;
            padding: 5px 8px;
        }

        .price_input {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .year_select {
            display: flex;
            width: 100%;
            justify-content: space-between;

            select {
                width: 80px;
            }
        }

        label {
            font-size: 16px;
        }
    }

    .carList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .car-container {
        background-color: #F6F6F6;
        display: flex;
        padding: 30px;
        width: 960px;

        &-image-wrap {
            width: 300px;
            height: 200px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-info {
            padding-left: 30px;

            a {
                color: black;
                font-size: 32px;
            }

            &-all {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &-price {
                position: absolute;
                margin: -24px 0 0 480px;
                width: fit-content;

                &-USD {
                    font-size: 26px;
                    color: white;
                    background-color: #415939;
                    padding: 4px 0;
                    text-align: center;
                    border-radius: 0 10px 0 10px;
                    min-width: 115px;
                }

                &-UAH {
                    font-size: 18px;
                    color: white;
                    background-color: #537049;
                    border-radius: 0 10px 0 10px;
                    padding: 5px 0px;
                    min-width: 135px;
                    max-width: fit-content;
                    text-align: center;
                    white-space: nowrap;
                    margin-left: 20%;
                    //margin-right: -50%;
                    //max-width: fit-content;
                }
            }

            &-parameters {
                margin: 20px 0 0 34px;

                &-row {
                    margin-top: 20px;
                    display: flex;
                    gap: 117px;

                    p {
                        font-size: 20px;
                        min-width: 107px;
                    }
                }
            }
        }
    }
}

header {
    height: 50px;
    width: 100%;
    background-color: #415939;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_left {
        width: 250px;
        height: 80px;
        background-color: #F3EFCA; /* Цвет фона, здесь используется синий */
        transform: skewX(-20deg); /* Угол наклона в градусах (может быть положительным или отрицательным) */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -30px; /* Измените это значение, чтобы регулировать наклон параллелограмма */
            width: 130px; /* Увеличиваем ширину, чтобы учесть прямой угол */
            height: 100%;
            background-color: inherit;
        }

        h1 {
            position: absolute;
            z-index: 5;
            margin: 34px 0 0 125px;
            color: black;
            font-size: 26px;
            font-weight: 700;
        }
    }

    .header_right {
        display: flex;
        margin: 0 25px 0 0;

        &-button {
            padding: 7px 10px 7px 32px;
            border-radius: 20px;
            background-color: #56744D;
            color: white;
            transition: 0.2s;

            &:hover {
                background-color: #5D864F;
                transition: 0.2s;
            }

            &::before {
                content: "";
                background: url('../img/white_avatar.svg');
                display: block;
                position: absolute;
                height: 20px;
                width: 20px;
                background-size: 20px 20px;
                margin: -4px -24px;
            }
        }
    }
}

.title {
    font-weight: 700;
    font-size: 28px;
}

.car-container-info-parameters-row-race::before {
    content: "";
    background: url('../img/race.svg');
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin: 0px -30px;
}

.car-container-info-parameters-row-fuel::before {
    content: "";
    background: url('../img/fuel.svg');
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin: 0px -30px;
}

.car-container-info-parameters-row-transmission::before {
    content: "";
    background: url('../img/transmission.svg');
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin: 0px -30px;
}

.car-container-info-parameters-row-driveline::before {
    content: "";
    background: url('../img/transmission.svg');
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin: 0px -30px;
}

.car-container-info-parameters-row-vin::before {
    content: "";
    background: url('../img/vin.svg');
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin: 0px -30px;
}
