@charset "UTF-8";
/*null*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*--------------------*/
.login-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 10%;
  background-color: #D0E0CA;
}
.login-wrapper form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 40px;
  border-radius: 40px;
  border: 2px solid #D4D4D4;
  background-color: #F6F6F6;
}
.login-wrapper form input[type=text] {
  width: 100%;
  font-size: 16px;
  padding: 9px 12px;
  background-color: #F6F6F6;
  border: 2px solid #D4D4D4;
  border-radius: 6px;
}
.login-wrapper form input[type=password] {
  width: 100%;
  font-size: 16px;
  padding: 9px 12px;
  background-color: #F6F6F6;
  border: 2px solid #D4D4D4;
  border-radius: 6px;
}
.login-wrapper form input::placeholder {
  color: #B3B3B3;
}
.login-wrapper form input[type=checkbox] {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 4px;
}
.login-wrapper form label {
  display: block;
  margin: 2px 0 2px 0;
  font-size: 18px;
}
.login-wrapper form .showpass {
  margin: 7px 0 0 0;
  display: flex;
}
.login-wrapper form button {
  padding: 9px 12px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #56744D;
  color: white;
  transition: 0.2s;
  margin: 5px 0;
}
.login-wrapper form button:hover {
  background-color: #5D864F;
  transition: 0.2s;
}
.login-wrapper form .log-reg-change {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-wrapper form a {
  color: black;
  text-decoration: underline;
}

.text-danger {
  color: red;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.dont_display {
  display: none;
}

.wrapper {
  margin: 50px;
  display: flex;
}
.wrapper .filters {
  background-color: #F3EFCA;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
  padding: 5px 17px;
  margin: 0 60px 0 100px;
}
.wrapper .filters select {
  max-width: 200px;
  border-radius: 8px;
  padding: 5px;
  color: gray;
}
.wrapper .filters select option:hover {
  background-color: #415939;
}
.wrapper .filters input {
  max-width: 80px;
  border-radius: 8px;
  padding: 5px 8px;
}
.wrapper .filters .price_input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wrapper .filters .year_select {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wrapper .filters .year_select select {
  width: 80px;
}
.wrapper .filters label {
  font-size: 16px;
}
.wrapper .carList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper .car-container {
  background-color: #F6F6F6;
  display: flex;
  padding: 30px;
  width: 960px;
}
.wrapper .car-container-image-wrap {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.wrapper .car-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .car-container-info {
  padding-left: 30px;
}
.wrapper .car-container-info a {
  color: black;
  font-size: 32px;
}
.wrapper .car-container-info-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper .car-container-info-price {
  position: absolute;
  margin: -24px 0 0 480px;
  width: fit-content;
}
.wrapper .car-container-info-price-USD {
  font-size: 26px;
  color: white;
  background-color: #415939;
  padding: 4px 0;
  text-align: center;
  border-radius: 0 10px 0 10px;
  min-width: 115px;
}
.wrapper .car-container-info-price-UAH {
  font-size: 18px;
  color: white;
  background-color: #537049;
  border-radius: 0 10px 0 10px;
  padding: 5px 0px;
  min-width: 135px;
  max-width: fit-content;
  text-align: center;
  white-space: nowrap;
  margin-left: 20%;
}
.wrapper .car-container-info-parameters {
  margin: 20px 0 0 34px;
}
.wrapper .car-container-info-parameters-row {
  margin-top: 20px;
  display: flex;
  gap: 117px;
}
.wrapper .car-container-info-parameters-row p {
  font-size: 20px;
  min-width: 107px;
}

header {
  height: 50px;
  width: 100%;
  background-color: #415939;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_left {
  width: 250px;
  height: 80px;
  background-color: #F3EFCA; /* Цвет фона, здесь используется синий */
  transform: skewX(-20deg); /* Угол наклона в градусах (может быть положительным или отрицательным) */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
header .header_left::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px; /* Измените это значение, чтобы регулировать наклон параллелограмма */
  width: 130px; /* Увеличиваем ширину, чтобы учесть прямой угол */
  height: 100%;
  background-color: inherit;
}
header .header_left h1 {
  position: absolute;
  z-index: 5;
  margin: 34px 0 0 125px;
  color: black;
  font-size: 26px;
  font-weight: 700;
}
header .header_right {
  display: flex;
  margin: 0 25px 0 0;
}
header .header_right-button {
  padding: 7px 10px 7px 32px;
  border-radius: 20px;
  background-color: #56744D;
  color: white;
  transition: 0.2s;
}
header .header_right-button:hover {
  background-color: #5D864F;
  transition: 0.2s;
}
header .header_right-button::before {
  content: "";
  background: url("../img/white_avatar.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: -4px -24px;
}

.title {
  font-weight: 700;
  font-size: 28px;
}

.car-container-info-parameters-row-race::before {
  content: "";
  background: url("../img/race.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: 0px -30px;
}

.car-container-info-parameters-row-fuel::before {
  content: "";
  background: url("../img/fuel.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: 0px -30px;
}

.car-container-info-parameters-row-transmission::before {
  content: "";
  background: url("../img/transmission.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: 0px -30px;
}

.car-container-info-parameters-row-driveline::before {
  content: "";
  background: url("../img/transmission.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: 0px -30px;
}

.car-container-info-parameters-row-vin::before {
  content: "";
  background: url("../img/vin.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: 0px -30px;
}
