/*null*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*--------------------*/
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: auto;
  display: flex;
}
.wrapper .filters {
  background-color: #F3EFCA;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 300px;
  padding: 5px 17px;
  margin-right: 60px;
}
.wrapper .filters .price_input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wrapper .carList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper .car-container {
  background-color: #F6F6F6;
  display: flex;
  padding: 30px;
  width: 960px;
}
.wrapper .car-container-image-wrap {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.wrapper .car-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .car-container-info {
  padding-left: 30px;
}
.wrapper .car-container-info a {
  color: black;
  font-size: 32px;
}
.wrapper .car-container-info-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper .car-container-info-price {
  position: absolute;
  margin: -24px 0 0 480px;
  width: fit-content;
}
.wrapper .car-container-info-price-USD {
  font-size: 26px;
  color: white;
  background-color: #415939;
  padding: 4px 0;
  text-align: center;
  border-radius: 0 10px 0 10px;
  min-width: 115px;
}
.wrapper .car-container-info-price-UAH {
  font-size: 18px;
  color: white;
  background-color: #537049;
  border-radius: 0 10px 0 10px;
  padding: 5px 0px;
  min-width: 135px;
  max-width: fit-content;
  text-align: center;
  white-space: nowrap;
  margin-left: 20%;
}
.wrapper .car-container-info-parameters {
  margin: 20px 0 0 34px;
}
.wrapper .car-container-info-parameters-row {
  margin-top: 20px;
  display: flex;
  gap: 117px;
}
.wrapper .car-container-info-parameters-row p {
  font-size: 20px;
  min-width: 107px;
}

header {
  height: 50px;
  width: 100%;
  background-color: #415939;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_right {
  display: flex;
  margin: 0 25px 0 0;
}
header .header_right-button {
  padding: 7px 10px 7px 32px;
  border-radius: 20px;
  background-color: #56744D;
  color: white;
  transition: 0.2s;
}
header .header_right-button:hover {
  background-color: #5D864F;
  transition: 0.2s;
}
header .header_right-button::before {
  content: "";
  background: url("../img/white_avatar.svg");
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin: -4px -24px;
}

.title {
  font-weight: 700;
  font-size: 28px;
}
