@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    margin: auto;
    //width: 50%;
    display: flex;

    .filters {
        background-color: #F3EFCA;
        display: flex;
        flex-direction: column;
        gap: 5px;
        min-width: 300px;
        padding: 5px 17px;
        margin-right: 60px;
        .price_input{
            display: flex;
            width:100%;
            justify-content: space-between;
        }
    }

    .carList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .car-container {
        background-color: #F6F6F6;
        display: flex;
        padding: 30px;
        min-width: 960px;

        .car-container-image-wrap {
            width: 300px;
            height: 200px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .car-container-info {
            padding-left: 30px;

            a {
                color: black;
                font-size: 32px;
            }
        }
    }
}
header {
    height: 50px;
    width: 100%;
    background-color: #415939;
}