@import "nullstyle.scss";
@import "LoginAndRegister.scss";
@import "Admin.scss";
@import "CarDetail.scss";
@import "Profile.scss";
@import "CreateCar.scss";
@import "Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto:wght@100;400;700&display=swap');

body {
    background-color: $background;
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
}

.dont_display {
    display: none;
}

.carList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    margin: 50px 0 0 0;
    //width: 50%;
    display: flex;
    justify-content: center;
    gap: 50px;

    .filters_before {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        padding: 5px 17px;
        //margin-left: 14vw;
        margin-top: 25px;
        //margin-left: 14%;
        p {
            color: $text-default;
            font-weight: 700;
            font-size: 16px;
            transition: 0.2s;
        }

        #save_filters {
            padding: 7px 0;
            border-radius: 3px;
            background-color: $green-dark;
            color: white;
            text-align: center;
            font-size: 16px;
            transition: 0.2s;

            &:hover {
                background-color: $green-medium;
                transition: 0.2s;
            }
        }

        a {
            padding: 7px 0;
            border-radius: 3px;
            background-color: $green-dark;
            color: white;
            text-align: center;
            font-size: 16px;
            transition: 0.3s;

            &:hover {
                background-color: $green-medium;
                transition: 0.2s;
            }
        }
    }

    .input {
        //max-width: 80px;
        border-radius: 8px;
        padding: 5px 8px;
        background-color: $background;
        color: $text-default;
    }


    .filters {
        //background-color: $beige-default;
        background-color: $filters-background;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 300px;
        width: fit-content;
        padding: 10px 17px;
        border-radius: 3px;

        .input[type="number"], input[type="text"] {
            height: 32px;
            line-height: 32px;
            font-size: 16px;
            transition: 0.2s;
            width: 100%;
            border: 1px solid transparent;

            &:focus {
                border: 1px solid $green-medium;
            }

            &::placeholder {
                color: $gray-default;
                font-size: 16px;
                transition: 0.2s;
            }
        }

        .price_input {
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: nowrap;
        }

        select {
            max-width: 200px;
            border-radius: 8px;
            padding: 5px;
            color: gray;
            background-color: $background;
        }

        select option:hover {
            background-color: $green-dark;
        }



        .year_select {
            display: flex;
            width: 100%;
            justify-content: space-between;

            select {
                width: 80px;
            }
        }

        label {
            //margin-top: 1px;
            font-size: 16px;
            transition: 0.2s;
            color: $text-default;
        }

        button {
            //padding: 6px 0;
            border-radius: 3px;
            background-color: $green-dark;
            color: white;
            text-align: center;
            margin: 5px 0;
            font-size: 16px;
            max-height: 30px;
            line-height: 30px;
            transition: 0.3s;

            &:hover {
                background-color: $green-medium;
                transition: 0.2s;
            }
        }

        #clear_filters {
            border: 2px solid $green-dark;
            background-color: $filters-background;
            font-size: 14px;
            color: $green-dark;
            font-weight: 700;
            transition: 0.2s;

            &:hover {
                transition: 0.2s;
                border: 2px solid $green-medium;
                color: $green-medium;
            }
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cars-not-found {
    width: 890px;
    display: flex;
    justify-content: center;
}

.car {
    display: flex;
    justify-content: space-between;
    background-color: $background-secondary;
    align-items: end;
    max-width: 890px;
    color: $text-default;
    transition: 0.2s;
    border-radius: 0 16px 0 16px;
    //box-shadow: 0 0 15px rgba(0,0,0,0.2);
    filter: drop-shadow(0 0 15px rgba(0,0,0, 0.25));

    &:hover {
        //transform: scale(1.02);
    }

    &_container-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        height: 100%;

        &-like input:checked ~ .car_container-right-span {
            background-image: url("/img/heart-checked.svg");
        }

        &-like {
            margin: 0px 72px 66px 0px;
            align-self: center;

            &.similar {
                //position: absolute;
                margin: 0;
                display: flex;
                align-items: center;
                // margin-left:15px;
            }
        }

        &-span {
            position: absolute;
            height: 40px;
            width: 40px;
            background-image: url("/img/heart.svg");
            display: block;
            z-index: 2;

            &.similar {
            }
        }

        &-like-cars {
            position: absolute;
            display: block;
            opacity: 0;
            cursor: pointer;
            z-index: 9;
            width: 40px;
            height: 40px;
        }

        &-price {
            margin: 30px 0 0 20px;

            &.onDetail {
                margin: 0;
            }

            &.similar {
                margin: 0;
            }

            &-USD {
                font-size: 26px;
                color: white;
                background-color: $green-dark;
                padding: 4px 0;
                text-align: center;
                border-radius: 0 10px 0 10px;
                min-width: 115px;

                &.similar {
                    font-size: 20px;
                    min-width: 0;
                }
            }

            &-UAH {
                font-size: 18px;
                color: white;
                background-color: $green-medium;
                border-radius: 0 10px 0 10px;
                padding: 5px 0px;
                min-width: 135px;
                max-width: fit-content;
                text-align: center;
                white-space: nowrap;
                margin-left: 20%;

                &.similar {
                    font-size: 14px;
                    min-width: 110px;
                }
            }
        }
    }

    input {
        width: 40px;
        height: 40px;
    }

    &_container {
        display: flex;
        margin: 30px;
        min-width: 720px;

        &-image-wrap {
            width: 300px;
            height: 200px;
            overflow: hidden;
        }

        img {
            width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 0 10px 0 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
        }

        &-info {
            padding-left: 30px;

            a {
                color: $text-default;
                transition: 0.2s;
                font-size: 32px;
            }

            &-all {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }



            &-parameters {
                margin: 30px 0 0 34px;
                justify-content: space-around;
                display: flex;

                &-column {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    p {
                        font-size: 20px;
                    }

                    &.onDetail {
                    }

                    &-text {
                        display: flex;
                        align-items: center;

                        span {
                            display: block;
                            width: 24px;
                            height: 24px;
                            margin: 0 8px 0 -20px;
                            color: $beige-default;
                        }
                    }
                }

                &.onDetail {
                    margin: 30px 0px;
                }
            }
        }
    }
}

#dropdown-menu {
    right: 0;
    top: -650px;
    position: fixed;
    z-index: 90;
    background: $background-secondary;
    box-shadow: 0 0 6px rgba(120,120,120,0.5);
    min-width: 50%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 10px;
    transition: 0.2s;
    border-radius: 0 0 0 12px;

    a:not(#login-button) {
        color: $text-default;
        font-size: 16px;
    }

    &.open {
        top: 50px;
    }
}

#open-filters {
    display: none;
    position: fixed;
    left: 0;
    top: 30vh;
    width: 43px;
    height: 42px;
    background: $green-dark;
    border-radius: 0 8px 8px 0;
    z-index: 50;

    &::before {
        content: '';
        position: absolute;
        margin: -16px 0 0 -18px;
        background: url('/img/find.svg');
        background-size: 100% 100%;
        width: 32px;
        height: 32px;
    }
}

.separator {
    height: 1px;
    width: 100%;
    background: $gray-default;
}

footer {
    height: 40px;
    width: 100%;
    background-color: $green-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    padding: 10px;
    color: white;

    a {
        color: white;
    }
}

header {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: $green-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    z-index: 100;

    .header_left {
        display: flex;

        span {
            display: block;
            transform: skewX(-20deg);
            width: calc(170px + 5vw);
            height: 150px;
            background-color: $background-secondary;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            transition: 0.2s;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -30px;
                width: 130px;
                height: 100%;
                background-color: inherit;
            }
        }


        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: absolute;
            z-index: 5;
            margin: -75px 0 0 4.5vw;
            color: black;
            font-size: 26px;
            font-weight: 700;
            user-select: none;
            align-self: center;
            justify-self: center;
            display: block;
            //font-family: 'Noto Sans', sans-serif;
            &:first-letter {
                color: $green-medium;
            }

            &::before {
                content: '';
                width: 120px;
                height: 120px;
                background: url('/img/logo2.png');
                background-size: 100% 100%;
                position: absolute;
                //filter: drop-shadow(2px 2px 0 rgba(0,0,0, 0.6));
                //margin: -65px 0 0 0;
            }
        }
    }

    .header_center {
        display: flex;
        width: 60%;
        justify-content: space-around;

        a {
            color: white;
            font-size: 18px;
        }
    }

    .header_right {
        display: flex;
        margin: 0 25px 0 0;
        align-items: center;

        &-theme {
            display: flex;
            width: 65px;
            height: 26px;
            justify-content: space-between;
            align-items: center;

            &::before {
                content: '';
                width: 2px;
                height: 26px;
                background: white;
                position: absolute;
                margin-left: 27px;
                z-index: 5;
            }
        }

        &-highlight {
            margin: 0 5px;
            height: 26px;
            background-color: $green-medium;
            padding-left: 35px;
        }

        &-separator {
            width: 2px;
            height: 26px;
            margin-left: 27px;

            &::before {
                content: '';
                height: 26px;
                width: 31px;
                margin-left: $theme-separator;
                border-radius: var(--custom-border-radius, 7px 0 0 7px);
                background-color: $beige-default;
                position: absolute;
                transition: 0.2s;

                &:hover {
                    background: $green-light;
                }
            }
        }

        &-light {
            display: none;

            &-label {
                height: 26px;
                width: 29px;
                z-index: 5;
                position: absolute;

                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url(../img/light.svg);
                    background-size: 100% 100%;
                    margin: 3px 0 0 1px;
                    cursor: pointer;
                }
            }
        }

        &-dark {
            display: none;

            &-label {
                height: 26px;
                width: 31px;
                z-index: 5;
                position: absolute;
                margin-left: 29px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url(../img/dark.svg);
                    background-size: 100% 100%;
                    margin: 3px 0 0 4px;
                    cursor: pointer;
                }
            }
        }
    }
}

#header_right-button, #login-button {
    padding: 0px 13px 0px 35px;
    border-radius: 20px;
    background-color: $green-medium;
    color: white;
    transition: 0.2s;
    //margin-left: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;

    &:hover {
        background-color: $green-light;
        transition: 0.2s;
    }

    &::before {
        content: "";
        background: url('../img/white_avatar.svg');
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        background-size: 20px 20px;
        margin: 6px -24px;
    }
}

.warning-text {
    font-size: 18px;
    color: #595959;
}

.pages_buttons {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    &-space {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
        color: #969696;
        user-select: none;
    }

    button {
        font-size: 18px;
        background: $background;
        outline: 1px solid #969696;
        color: #969696;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        user-select: none;
        border-radius: 5px;
        transition: 0.2s;

        &:hover {
            background: $background-secondary;
        }
    }

    .selected {
        font-weight: 700;
        outline: 2px solid $beige-default;
        color: $beige-default;
        font-size: 20px;
        transition: 0.2s;
        background: $background-secondary;

        &:hover {
            outline: 2px solid $beige-default;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #969696;
    //border-radius: 10px;

    &:hover {
        background: #818181;
    }
}

.pb-3 {
    padding: 0 calc(10px - (100vw - 100%)) 0 0;
    min-height: calc(100vh - 90px);
}
//------------------Custom select start-------

.select-btn, li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    height: 32px;
    padding: 0 10px;
    font-size: 16px;
    background: $background;
    color: $gray-default;
    border-radius: 7px;
    justify-content: space-between;
    transition: 0.2s;
}

.select-btn input {
    font-size: 18px;
    border: none;
}

.select-btn i {
    margin-right: 5px;
    font-size: 15px;
    transform: rotate(-180deg);
    transition: transform 0.1s linear;

    &::before {
        content: '';
        width: 14px;
        height: 14px;
        background: url('/img/arrow.svg');
        position: absolute;
        background-size: 14px 14px;
        margin-top: -7px;
        margin-left: -7px;
    }
}

.select-btn.active i {
    transform: rotate(-90deg);
}

.custom-select {
    width: 100%;
    position: relative;
}

.content {
    display: block;
    transform-origin: top;
    transform: scaleY(0);
    padding: 5px;
    margin-top: 5px;
    background: $background;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 5;
    font-size: 16px;
    width: 100%;
    transition: 0.2s;
    transition: transform 0.1s;
}

.content.active {
    display: block;
    transform: scaleY(1);
}


.content .search {
    position: relative;
}

.search i {
    top: 50%;
    left: 15px;
    color: $text-default;
    font-size: 16px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;

    &::before {
        content: '';
        width: 18px;
        height: 18px;
        background: url('/img/search.svg');
        z-index: 100;
        position: absolute;
        background-size: 18px 18px;
        margin-top: -14px;
        margin-left: 0px;
    }
}

.search input {
    height: 30px;
    max-width: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    background-color: $background-secondary;
    color: $text-default;
    border: 1px solid $gray-default;
    transition: 0.2s;
    user-select: none;
    margin: 0 0 10px;
}

.search input:focus {
    border: 1px solid $green-medium;
}

.search input::placeholder {
    color: $gray-default;
}

.content .options {
    //margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: $background-secondary;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: $gray-default;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li {
    color: $text-default;
    height: 50px;
    padding: 0 13px;
    font-size: 16px;
    user-select: none;
}

.options li:hover, li.selected {
    border-radius: 5px;
    background: $background-secondary;
}
//------------------Custom select end---------
//------------------Custom slider range start-
.range {
    height: 32px;
    width: 200px;
    background-color: $background;
    transition: 0.2s;
    border-radius: 7px;
    padding: 10px 3px;

    .rangeValue {
        position: relative;
        width: 100%;

        .show {
            transform: translateX(50%) scale(1);
            transition: transform 0.3s ease-in-out;
        }

        span {
            position: absolute;
            height: 45px;
            width: 45px;
            top: -56px;
            line-height: 48px;
            text-align: center;
            z-index: 2;
            transform: translateX(50%) scale(0);
            transform-origin: bottom;
            transition: transform 0.3s ease-in-out;
            color: $green-light;
            font-weight: 700;
            font-size: 15px;
            left: 2.5%;
            user-select: none;


            &::after {
                content: "";
                position: absolute;
                height: 45px;
                width: 45px;
                left: 50%;
                border: 3px solid $green-light;
                border-radius: 50% 50% 0 50%;
                background-color: $background;
                transform: translateX(-50%) rotate(45deg);
                z-index: -1;
            }
        }
    }

    .field {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .value {
            font-size: 16px;
            color: $gray-default;
            margin: 0 4px;
            transition: 0.2s;
        }

        input {
            -webkit-appearance: none;
            height: 3px;
            width: 100%;
            background-color: #909090;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: $green-dark;
            }
        }
    }
}

.range-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    span {
        font-size: 14px;
        font-weight: 400;
        transition: 0.2s;
        color: $text-default;
    }
}
//------------------Custom slider range end---
//------------------------Custom burger icon--
#nav-icon2 {
    width: 26px;
    height: 26px;
    position: relative;
    margin: 4px 0 0 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: white;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 10px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 20px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 5px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 0px);
    top: 5px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 13px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 0px);
    top: 13px;
}
//--------------------Custom burger icon end--




@media (max-width: 767px) {
    .filters_before {
        position: fixed;
        left: -300px;
        transition: 0.2s;
        z-index: 40;

        &.open {
            left: 2vw;
        }
    }

    #open-filters {
        display: block;
    }

    #nav-icon2 {
        display: block;
    }

    .header_center {
        a {
            display: none;
        }
    }

    .pb-3 {
        padding: 0 0 0 0;
    }

    #header_right-button {
        display: none;
    }
}
