$green-dark: var(--green-dark);
$green-medium: var(--green-medium);
$green-light: var(--green-light);
$background: var(--background-main);
$background-secondary: var(--background-secondary);
$text-default: var(--text-default);
$icons-invert: var(--icons-invert);
$success-main: var(--success-main);
$success-secondary: var(--success-secondary);
$error-main: var(--error-main);
$error-secondary: var(--error-secondary);
$gray-default: var(--gray-default);
$beige-default: var(--beige-default);
$theme-separator: var(--theme-separator);
$filters-background: var(--filters-background);
:root
{
    --green-light: #537049;
    --green-medium: #4b6742;
    --green-dark: #415939;
    --background-main: #ffffff;
    --background-secondary: #f6f6f6;
    --text-default: #000000;
    --icons-invert: 0%;
    --success-main: #3a784a;
    --success-secondary: #D0E0CA;
    --error-main: #c21111;
    --error-secondary: #f7dfe5;
    --gray-default: #404040;
    --beige-default: #F3EFCA;
    --theme-separator: -25px;
    --filters-background: #F3EFCA;
}
